*{
    padding: 0;
    margin: 0;
    color: white;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
button{
    color: #f08804;
    width: 75px;
    /* font-size: 25px; */
}
a{
    font-size: 20px;
}
#logo{
    font-size: 30px;
    color: #f08804;
}
